h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
nav {
    transition: background-color 2ms;
}
body {
    y-overflow: hidden;
}
#particles-js {
    height: 98vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.no-margin {
    margin-bottom: 0px;

}

.brand-logo img{
    height: 64px;
}
#map {
    width: 99%;
    height: 40vh;
}

.padding-bottom-tf {
       padding-bottom: 25px;
   }

section {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

.stages-container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.navbar-fixed  {
    height: 0px;
}

.super-sidetext {
    font-size: 36px;
}

.no-padding {
    padding: 0;
}

.join-text-container {
    margin-top: 5%;
}

.mainheader {
    background-image: url('../img/main-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    transition: background-image 5ms;
    height: 100vh
}

.floating-container {
    background-color: transparent;
    color: white;
    border: 8px solid black;
    border-image: linear-gradient(to right, #8e2de2, #4a00e0) 1% 100%;
    position: relative;
    margin-top: 40vh;
    margin-left:auto;
    margin-right:auto;
    color: white;
    text-align: center;
}

.divider-straight {
    background-color: grey;
    height: 1px;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#getting-started {
    font-size: 48px;
}